/* Bordered form */
form {
  border: 3px solid #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #52662F;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/*style labels and asset tracker title*/
label, .title{
  color: #354121;
}

/*style page title*/
.title{
font-weight: bold;
font-size: 20px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Center the image inside this container */
.imgcontainer {
  display: block;
  background-color:#f1f1f1;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 14px;
  margin: 0px 0 12px 0;
}

/* st joes image */
img.avatar {
  width: 10%;
  /*border-radius: 50%;*/
}

/* Add padding to containers */
.container {
  padding: 16px;
}